{% extends 'layout.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block content %}

  <div class="container m-10">
    <h3>Item: {{ item.name }}</h3>
    <p>Description of {{item.name}}</p>
    <p>{{item.description}}</p>
    <button id="buy-button" class="btn-primary">Buy</button>
    <script type="text/javascript">
      var stripe = Stripe('pk_test_51McSxiIQkM2iQbI8TuhtBCqnliNo4RsMl3zyrIJpMNb2U6MLKWzOLnA2YwyiYw01y1vnWBu3u8FOrmOaalQSTINi00wYuEYqZ0');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint 
        // Redirect to Stripe Session Checkout
        fetch('{% url "buy_item" pk=item.pk %}', {method: 'GET'})
        .then(function(response) {
            return response.json();
        })
        .then(function(session) {
            console.log(session)
            return stripe.redirectToCheckout({ sessionId: session.id });
        })
      });
    </script>
  </div>
{% endblock %}
